@model ReviewItemViewModel

<div class="card">
    <img src="@Model.ImageUrl" alt="@Model.Title">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p>@Model.Description</p>
        <span>@Model.Admin</span>
        <span>@Model.Comment</span>
    </div>
    <div class="box"></div>
</div>