@model ProductModel

<div asp-controller="products" asp-action="Details" asp-route-id="@Model.ArticleNumber" class="card">
    <img src="/Images/products/@Model.ImageUrl" alt="@Model.Name">
    <div class="card-menu">
        <a asp-controller="shopping" asp-action="cart" class="menu-link"><i class="fa-sharp fa-solid fa-basket-shopping"></i></a>
        <a asp-controller="wishlist" asp-action="Index" class="menu-link"><i class="fa-solid fa-heart"></i></a>
        <a asp-controller="products" asp-action="productDetails" asp-route-articleNumber="@Model.ArticleNumber" class="menu-link"><i class="fa-sharp fa-solid fa-eye"></i></a>
        <a asp-controller="" asp-action="" class="menu-link"><i class="fa-sharp fa-solid fa-expand"></i></a>
    </div>
    <div class="card-body">
        <span class="cart"><i class="fa-regular fa-cart-plus"></i></span>
        <h3>@Model.Name.Substring(0,1).ToUpper()@Model.Name.Substring(1).ToLower()</h3>
        <p>@Model.ArticleNumber</p>
        <span class="new-price">$@string.Format("{0:0.00}", Model.Price)</span>
    </div>
    <div class="box"></div>
</div>

